main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.main__section-account {
	grid-column: 2 / 12;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main__section-account form {
	display: flex;
	flex-direction: column;
}

.main__section-account h3 {
	margin-bottom: 4rem;
}

.main__section-account label {
	font-weight: bold;
}

.main__section-account p {
	margin-bottom: .8rem 0 4rem 0;
    padding-bottom: 4rem;
	color: var(--very-light-pink);
	border: none;
	border-radius: 0.8rem;
}

@media (min-width: 720px) {
	.main__section-account {
		grid-column: 4 / 10;
	}
}
