:root {
	--white: #ffffff;
	--black: #000000;
	--dark: #232830;
	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Quicksand", sans-serif;
	font-size: 1.6rem;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: #5d6063;
	background-color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	line-height: normal;
	color: #5d6063;
}

h1 {
	font-size: 3.2rem;
}
h2 {
	font-size: 2.8rem;
}
h3 {
	font-size: 2.4rem;
}

a {
	text-decoration: none;
	color: #6a67ce;
}

ul,
ol {
	list-style: none;
}

input,
button,
textarea,
select,
optgroup,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font: inherit;
}

button {
	cursor: pointer;
}
