:root {
	--white: #ffffff;
	--black: #000000;
	--dark: #232830;
	--very-light-pink: #c7c7c7;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Quicksand", sans-serif;
	font-size: 1.6rem;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	color: var(--dark);
	background-color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: "Quicksand", sans-serif; */
	line-height: normal;
	color: var(--dark);
}

h1 {
	font-size: 3.2rem;
}
h2 {
	font-size: 2.8rem;
}
h3 {
	font-size: 2.4rem;
}

a {
	text-decoration: none;
	color: #6a67ce;
}

ul,
ol {
	list-style: none;
}

input,
button,
textarea,
select,
optgroup,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font: inherit;
}

button {
	cursor: pointer;
}

/* Global desings */
.primary__button {
	height: 4rem;
	margin-top: 2.8rem;
	color: var(--white);
	background-color: var(--hospital-green);
	font-weight: bold;
	border: none;
	border-radius: 0.8rem;
}
