header {
	margin-bottom: 4rem;
}

nav {
	width: 100%;
	height: 8rem;
	border-bottom: 1px solid var(--very-light-pink);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav > section {
	display: flex;
}

.menu {
	display: none;
}

.logo {
	width: 12rem;
	margin-right: 2rem;
}

.navbar__left a {
	margin: 0.4rem;
	padding: 0.4rem;
	color: var(--very-light-pink);
	border: 1px solid white;
	transition: 0.2s ease-in-out;
}

.navbar__left a:hover {
	color: var(--hospital-green);
	border: 1px solid var(--hospital-green);
	border-radius: 0.8rem;
}

.navbar__right {
	justify-content: end;
}

.navbar__right p {
	margin: 0 2rem;
}

.navbar__right p:nth-child(3) {
	padding: 0 1.2rem;
	color: white;
	background-color: var(--hospital-green);
	border-radius: 0.8rem;
}

/* Desktop Menu */
.desktop-menu {
	width: 16rem;
	padding: 2rem 2rem 0;
	border: 1px solid var(--very-light-pink);
	border-radius: 0.8rem;
	text-align: end;
}

.desktop-menu ul li a {
	display: inline-block;
	margin-bottom: 2rem;
	color: var(--black);
	font-weight: bold;
}

.desktop-menu ul li:last-child {
	padding-top: 2rem;
}

.desktop-menu ul li:last-child a {
	color: var(--hospital-green);
	font-weight: 400;
}

/* Mobile Menu */
.mobile-menu {
	min-height: 80vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobile-menu ul li {
	margin-bottom: 2rem;
}

.mobile-menu ul li a {
	font-weight: bold;
	color: var(--black);
}

.mobile-menu button {
	margin-top: 0;
}

main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.main__container {
	grid-column: 2 / 12;
	display: grid;
	grid-template-columns: repeat(auto-fill, 24rem);
	gap: 2rem;
	place-content: center;
}

.product__card {
	width: 100%;
	border-radius: 0.8rem;
	overflow: hidden;
}

.product__card > img {
	width: 100%;
	margin-bottom: 1.2rem;
	object-fit: cover;
}

.product__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product__info figure img {
	width: 4rem;
}

.product__info-description p:nth-child(1) {
	font-weight: bold;
}

.product__info-description div p:nth-child(2) {
	color: var(--very-light-pink);
}

@media (max-width: 720px) {
	.main__container {
		grid-template-columns: repeat(auto-fill, 12rem);
	}

	.menu {
		display: block;
	}

	.navbar__left a {
		display: none;
	}

	.navbar__right p:nth-child(1) {
		display: none;
	}
}
