header {
	margin-bottom: 4rem;
	padding: 2rem;
}

header nav {
	display: flex;
	background-color: antiquewhite;
}

/* Desktop Menu */
.desktop-menu {
	width: 16rem;
	padding: 2rem 2rem 0;
	border: 1px solid var(--very-light-pink);
	border-radius: 0.8rem;
	text-align: end;
}

.desktop-menu ul li a {
	display: inline-block;
	margin-bottom: 2rem;
	color: var(--black);
	font-weight: bold;
}

.desktop-menu ul li:last-child {
	padding-top: 2rem;
}

.desktop-menu ul li:last-child a {
	color: var(--hospital-green);
	font-weight: 400;
}

/* Mobile Menu */
.mobile-menu {
	min-height: 80vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobile-menu ul li {
	margin-bottom: 2rem;
}

.mobile-menu ul li a {
	font-weight: bold;
	color: var(--black);
}

.mobile-menu button {
	margin-top: 0;
}

main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.main__container {
	grid-column: 2 / 12;
	display: grid;
	grid-template-columns: repeat(auto-fill, 24rem);
	gap: 2rem;
	place-content: center;
}

.product__card {
	width: 100%;
	border-radius: 0.8rem;
	overflow: hidden;
}

.product__card > img {
	width: 100%;
	margin-bottom: 1.2rem;
	object-fit: cover;
}

.product__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product__info figure img {
	width: 4rem;
}

.product__info-description p:nth-child(1) {
	font-weight: bold;
}

.product__info-description div p:nth-child(2) {
	color: var(--very-light-pink);
}

@media (max-width: 720px) {
	.main__container {
		grid-template-columns: repeat(auto-fill, 12rem);
	}
}
