body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	margin-bottom: 4rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header img {
	width: 60%;
}

.main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.main .login {
	grid-column: 2 / 12;
}

.main .login > h3,
.main .login > p {
	text-align: center;
}

.main .login > p {
	font-weight: 300;
	margin-bottom: 2rem;
}

.main .login .login__form {
	display: flex;
	flex-direction: column;
}

.main .login .login__form input {
	margin-bottom: 1.2rem;
	height: 4rem;
	padding-left: 0.8rem;
	background-color: var(--text-input-field);
	border: none;
	border-radius: 0.8rem;
}

@media (min-width: 720px) {
	.header img {
		width: 40%;
	}

	.main .login {
		grid-column: 4 / 10;
	}
}
